body {
    font-family: 'Hind', sans-serif;

}


.nav {

    -webkit-transition: left 1s ease;

    -moz-transition: left 1s ease;

    -ms-transition: left 1s ease;

    -o-transition: left 1s ease;

    transition: left 1s ease;

    background-color: #ffffff;

    cursor: pointer;

    font-size: 2rem;

    height: 100vh;

    left: 100%;

    padding: 6rem 2rem 2rem 2rem;

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 20;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;


}

.nav ul {

    z-index: 25;
    position: absolute;
    /*    border: 1px solid red;*/
    width: 70%;
    height: 85vh;
    /*    top: 50%;*/


    /*
    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);
*/

    list-style: none;

    margin: 0;

    padding: 0;

}

.nav .menu-elements li {
    /*       border: 1px solid #000;*/
    width: 70%;
    height: 12%;
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: 100;


}

.nav .menu-elements li a:link {

    text-decoration: none;
    color: rgba(101, 105, 101, 1.0);
}

.nav .menu-elements li a:visited {

    text-decoration: none;

    color: rgba(101, 105, 101, 1.0);
}

.nav .menu-elements li a:hover {

    text-decoration: none;

    color: rgba(101, 105, 101, 1.0);

    font-weight: 700;
}

.nav.expanded {
    left: 0;
}






.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2.5rem;
    left: 93vw;
    position: fixed;
    top: 5rem;
    width: 2.4vw;
    z-index: 25;
    border: 1px solid rgba(101, 105, 101, 1.0);
    box-shadow: 2px 2px 2px rgba(101, 105, 101, 1.0);
}




.nav-toggle:hover {
    opacity: 1.0;

}



.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {

    position: absolute;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);

    -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -ms-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

    background: rgba(101, 105, 101, 1.0);
    content: '';

    height: 0.2vh;

    width: 100%;

}



.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}



.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8vh;

}



.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8vh;
}



.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}



.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {

    background: rgba(101, 105, 101, 1.0);

    margin-top: 0;

}



.nav-toggle.expanded .nav-toggle-bar::after {

    -ms-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    transform: rotate(45deg);

}



.nav-toggle.expanded .nav-toggle-bar::before {

    -ms-transform: rotate(-45deg);

    -webkit-transform: rotate(-45deg);

    transform: rotate(-45deg);

}

@media (max-width: 1024px) {
    .nav-toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
        height: 2rem;
        left: 93vw;
        position: fixed;
        top: 3.5rem;
        width: 3.8vw;
        z-index: 25;
    }
}

@media (max-width: 768px) {
    .nav-toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
        height: 2rem;
        left: 93vw;
        position: fixed;
        top: 3.5rem;
        width: 4.8vw;
        z-index: 25;
    }
}

@media (max-width: 576px) {
    .nav-toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
        height: 1.5rem;
        left: 90vw !important;
        position: fixed !important;
        top: 3.5rem;
        width: 6.9vw;
        z-index: 25;
    }

    .nav .menu-elements li {
        /* border: 1px solid #000; */
        width: 70%;
        height: 12%;
        text-transform: uppercase;
        font-size: 5.5vw;
        font-weight: 100;
    }

    .nav ul {
        z-index: 25;
        position: absolute;
        width: 80%;
        height: 85vh;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}